Source: libresourceqt
Priority: extra
Maintainer: Resource Policy Team <resource-policy@projects.maemo.org>
Build-Depends: debhelper (>= 5), libqt4-dev (>> 4.6.0), libdbus-1-dev, libresource0-dev
Standards-Version: 3.8.0
Section: libs

Package: libdbus-qeventloop1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libdbus-qeventloop library
 Contains library files for the application that use libdbus-qeventloop

Package: libresourceqt1
Section: libs
Architecture: any
Depends: libdbus-qeventloop1, ${shlibs:Depends}, ${misc:Depends}
Description: libresourceqt library
 Contains library files for the application that use libresourceqt

Package: libresourceqt-dev
Section: libdevel
Architecture: any
Depends: libresourceqt1 (= ${binary:Version}), libresource0-dev, libdbus-1-dev, libdbus-qeventloop-dev
Description: Development package for libresourceqt
 Includes development files for libresourceqt.

Package: libdbus-qeventloop-dev
Section: libdevel
Architecture: any
Depends: libdbus-qeventloop1 (= ${binary:Version}), libdbus-1-dev
Description: Development package for libdbus-qeventloop
 Includes development files for libdbus-qeventloop.

Package: resourceqt-client
Section: utils
Architecture: any
Depends: libresourceqt1, ${shlibs:Depends}, ${misc:Depends}
Description: Maemo Qt resource aware client test example
 Resource management for Mamemo
 This is a simple test tool to play with resource management.

Package: libresourceqt-tests
Section: misc
Depends: ci-testing, libdbus-qeventloop1, libresourceqt1, ${shlibs:Depends}
XB-Maemo-CI-Packages: libdbus-qeventloop1, libresourceqt1
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Architecture: any
Description: libresourceqt1 and libdbus-qeventloop test package
 This package contains tests which can be used in CI environment
